#retour1{

    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-left: 200px;
    border: solid black 1px
    
}

.enregister{

    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-left: 200px;
    background-color: #9E9F8D;
    color: white;
    font-weight: bold;
    border: solid black 1px;

}