#ajouter{

    background-color: #9E9F8D;
    font-weight: bold;
    margin-top: 30px;
    width: 150px;
    margin-left: 200px;
}

#retour{
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin-left: 210px;
    border: solid black 1px;
}