  /* Styles généraux */
  body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.card {
    border: 1px solid #0B162C;
    border-radius: 15px;
}

.card-body {
    padding: 10px;
}

h1, h3 {
    color: #0B162C;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.user-icon {
    font-size: 6rem;
    color: #0B162C;
}

.btn-custom {
    background-color: #0B162C;
    border-color: #0B162C;
    color: white;
    margin-right: 10px;
}

.btn-custom:hover {
    background-color: #0B162C;
    border-color: #0B162C;
    color: white;
}

.btn-danger {
    background-color: #b40000;
    border-color: #b40000;
}

.btn-danger:hover {
    background-color: #b40000;
    border-color: #b40000;
}

.btn-group {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

/* Animation */
.animate__animated {
    --animate-duration: 1s;
}

.animate__animated.animate__fadeInUp {
    animation-duration: 1s;
}

.animate__animated.animate__fadeIn {
    animation-duration: 1s;
}

.animate__animated.animate__fadeInLeft {
    animation-duration: 1s;
}
p{
    font-size: 18px;
}
/* Styles spécifiques au mode desktop */
@media (min-width: 992px) { /* Bootstrap large screens and up */
    h1 {
        font-size: 3rem; /* Augmente la taille du titre principal */
    }

    h3 {
        font-size: 2rem; /* Augmente la taille du sous-titre */
    }

    .user-icon {
        font-size: 8rem; /* Augmente la taille de l'icône utilisateur */
    }

    p{
        font-size: 20px;
    }

    .btn-custom, .btn-danger, .btn-success {
        font-size: 1.25rem; /* Augmente la taille du texte des boutons */
        padding: 0.75rem 1.5rem; /* Augmente le padding des boutons */
    }

    .btn-group {
        gap: 15px; /* Augmente l'écart entre les boutons */
    }
}